{% extends 'main/base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}


<div align="center" class="container">
    <br>

    <br>
    <div class="row center">
      <div class="col-sm">
        <img style="width:60%" src="/static/icons/snowy-1.svg"/>
        <br>
        <button class="btn btn-info"><a style="color:white" href="/weather">Weather Forecast</a></button>
      </div>
      <div class="col-sm">
        <img style="width:60%" src="/static/icons/recognition.png"/>
        <br>
        <button class="btn btn-info"><a style="color:white" href="/emails">Emails</a></button>
      </div>
      <div class="col-sm">
        <img style="width:80%;padding:5px" src="/static/icons/deep_learning1.png"/>
        <br>
      <button class="btn btn-warning"><a style="color:white;" href="/word-counter">Word Counter</a></button>
      </div>
    </div>
    <br>
</div>
<br>
{% endblock %}
